@using SpotifyAPI.Web;
@{
    ViewData["Title"] = "Report";
    ReportModel reportModel = (ReportModel)ViewData["report"];
}

<h1>Hi @reportModel.user, here is your report</h1>
<h2>Top songs</h2>
<ul>
    @foreach (FullTrack song in reportModel.topSongs)
    {
        <li>
            <div>
                @song.Name
                @*<img src="@song.image"/>*@
                <video controls="" name="media">
                    <source src="@song.PreviewUrl" type="audio/mpeg">
                </video>
                <a href="@song.Uri"><img src="@song.Album.Images[0].Url" height="300" width="300"></a>
            </div>
        </li>
    }
</ul>
<h2>Top artists</h2>
<ul>
    @foreach (FullArtist artist in reportModel.topArtists)
    {
        <li>
            <div>
                @artist.Name
                <a href="@artist.Uri"><img src="@artist.Images[0].Url" height="300" width="300" /></a>
</div>
        </li>
    }
</ul>
<h2>Playlists</h2>
<ul>
    @foreach (SimplePlaylist playlist in reportModel.playlists)
    {
        <li>
            <div>
                @playlist.Name
                <a href="@playlist.Uri"><img src="@playlist.Images[0].Url" height="300" width="300" /></a>
            </div>
        </li>
    }
</ul>
